@tailwind base;
@tailwind components;
@tailwind utilities;

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 position: relative;
}

.customScrollBar::-webkit-scrollbar {
 position: absolute;
 background: none;
 width: 10px;
}

.customScrollBar::-webkit-scrollbar-thumb {
 border-radius: 10px;
 background-color: #64748ba9;
}

.customScrollBar::-webkit-scrollbar-track {
 background-color: #f1f1f1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}